.header-text.historie {
  top: 9% !important;
}
.historie-text {
  .title, .subtitle {
    text-align: center;
  }
  .text-wrapper {
    .wp-block-column:nth-child(1) {
      padding-left: 10%;
    }
    .wp-block-column:nth-child(2) {
      padding-right: 10%;
    }
  }
}