
.header-title-responsive() {
  font-size: 45px;
  line-height: 59px;
}
.header-subtitle-responsive() {
  font-size: 32px;
  line-height: 39px;
}

.title-responsive() {
  font-size: 45px;
  line-height: 45px;
}
.subtitle-responsive() {
  font-size: 32px;
  line-height: 30px;
}