@import "_variables";

.header-text.stellenangebote {
  .header-text {
    bottom: -240px;
    top: unset;
  }
}
.header-arrow-stellenangebote {
  right: 47%;
  top: unset;
  bottom: -490px;
}
.stellenangebote-header-separator {
  bottom: 0;
}

.stellenangebote-wrapper {
  div {
    max-width: 992px;
    margin: 0 auto;
    p, li {
      .p-text();
    }
  }
}

@media (max-width: 1400px) {
  .header-text.stellenangebote {
    .header-text {
      bottom: -170px;
      top: unset;
    }
  }
  .header-arrow-stellenangebote {
    right: 47%;
    top: unset;
    bottom: -380px;
  }
  .stellenangebote-header-separator {
    bottom: 0;
    background-size: cover;
    height: 111px;
  }

}